*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter,sans-serif;
    color: #dddddd;
}


.block4{
     margin: 0;
    background: url('images2/4фрейм.png');
    background-size: cover;
    height: 750px;
    position: relative;
}

.form-container {
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    position: absolute;
    }

input[type="text"], input[type="tel"],.btn2
{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: white;
}
.btn2{
    color: white;
    font-weight: bold;
     background-color: #78584F;
}
h4{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.second-footer{
    font-size: 30px;
    font-family: Mak,sans-serif;
    text-align: left;
    color: white;
    background-color: #221C13;
}
.btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}